# Development of Model
## Analysis

In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('Dummy-Data.csv')
df

    AppID  Ins_Age Ins_Gender   Ht   Wt  IssueDate
0   56372       31       Male  510  185        NaN
1   34565       35       Male  510  205        NaN
2   57732       45     Female  510  125        NaN
3   87324       38       Male  503  175        NaN
4   12323       39     Female  600  252        NaN
..    ...      ...        ...  ...  ...        ...
95  99511       35       Male  510  275        NaN
96  23781       27       Male  604  145        NaN
97  99517       35     Female  507  190        NaN
98  99520       38     Female  510  144        NaN
99  99516       52     Female  510  125        NaN

[100 rows x 6 columns]

In [18]:
df.describe()

               AppID     Ins_Age          Ht         Wt  IssueDate
count     100.000000  100.000000  100.000000  100.00000        0.0
mean    79455.570000   37.320000  527.720000  165.15000        NaN
std     31123.726942   12.103827   39.482787   27.66224        NaN
min     12123.000000   19.000000  500.000000  110.00000        NaN
25%     64296.000000   27.750000  506.000000  145.00000        NaN
50%     99444.500000   36.000000  509.000000  170.00000        NaN
75%     99917.000000   47.000000  511.000000  180.00000        NaN
max    100345.000000   59.000000  605.000000  275.00000        NaN

**Based on data above and business rules from documentation**: 

- IssueData is alway null and also not useful at all.

- BMI can be calculated using Ht and Wt, then Ht and Wt are not useful.

## Create a Transformation Class

In [19]:
from sklearn.base import TransformerMixin

In [20]:
class TransformData(TransformerMixin):
    def fit(self, X, y=None):
        self.X = X   
        
    def bmi_healthy(self,wt,ht):
        ht_m=(((ht//100)*12+ht%100)*0.0254)
        wt_kg=wt/2.20462
        bmi=wt_kg/(ht_m**2)
        return True if (bmi > 17.49 and bmi < 38.5) else False
    
    def age_group(self,age):
        if age < 18:
            return 0
        elif age < 40:
            return 1
        elif age <= 60:
            return 2
        else:
            return 3
            
    def transform(self):
        self.X['bmi_in_hrange'] = self.X.apply(lambda x: self.bmi_healthy(x.Wt, x.Ht), axis=1)
        self.X['age_group'] = self.X.apply(lambda x: self.age_group(x.Ins_Age), axis=1)
        
        self.X.drop(columns=['Ht','Wt','IssueDate','Ins_Age'],inplace=True)
        return self.X
    
    def fit_transform(self,X, y=None):
        self.fit(X)
        return self.transform()

In [21]:
td=TransformData()
td.fit_transform(df)

    AppID Ins_Gender  bmi_in_hrange  age_group
0   56372       Male           True          1
1   34565       Male           True          1
2   57732     Female           True          2
3   87324       Male           True          1
4   12323     Female           True          1
..    ...        ...            ...        ...
95  99511       Male          False          1
96  23781       Male           True          1
97  99517     Female           True          1
98  99520     Female           True          1
99  99516     Female           True          2

[100 rows x 4 columns]

In [8]:
df.columns.to_list()

['AppID', 'Ins_Gender', 'bmi_in_hrange', 'age_group']

## Create a Model Class

In [22]:
from sklearn.base import RegressorMixin

In [23]:
class InsuranceModel(RegressorMixin):
    def __init__(self):
        self.valid_features = ['AppID', 'Ins_Gender', 'bmi_in_hrange', 'age_group']
        
    def fit(self, X, y=None):
        pass
    
    def logic(self,AppID,gender,bmi_healthy,age_group):
        if bmi_healthy:
            base_value = 500
            reason = "BMI is in right range"
        else:
            if age_group == 0:
                base_value = 500
                reason = "BMI is in right range"
            elif age_group == 1:
                base_value = 750
                reason = "Age is between 18 to 39 and 'BMI' is either less than 17.49 or greater than 38.5"
            elif age_group == 2:
                base_value = 1000
                reason =  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"
            else:
                base_value = 2000
                reason =  "Age isgreater than 60 and 'BMI' is either less than 17.49 or greater than 38.5"
        if gender == 'Female':
            return (AppID,base_value * 0.9, reason)
        else:
            return (AppID,base_value, reason)
        
        
        
    def predict(self,X):
        print(X.columns.to_list())
        for item in X.columns.to_list():
            if item not in self.valid_features:
                return 'Invalid Features'
        quote_values = X.apply(lambda x: self.logic(x.AppID,x.Ins_Gender,x.bmi_in_hrange,x.age_group), axis=1)
        return quote_values.to_list()
    
    def fit_predict(self,X, y=None):
        self.fit(X)
        return self.predict(X)

In [24]:
model = InsuranceModel()
Pred=model.fit_predict(df)

['AppID', 'Ins_Gender', 'bmi_in_hrange', 'age_group']

In [25]:
Pred

[(56372, 500, 'BMI is in right range'),
 (34565, 500, 'BMI is in right range'),
 (57732, 450.0, 'BMI is in right range'),
 (87324, 500, 'BMI is in right range'),
 (12323, 450.0, 'BMI is in right range'),
 (75323, 500, 'BMI is in right range'),
 (23466, 500, 'BMI is in right range'),
 (24545, 450.0, 'BMI is in right range'),
 (63462, 450.0, 'BMI is in right range'),
 (87432, 500, 'BMI is in right range'),
 (53242, 450.0, 'BMI is in right range'),
 (45764, 450.0, 'BMI is in right range'),
 (97563, 450.0, 'BMI is in right range'),
 (45432,
  900.0,
  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (93576, 500, 'BMI is in right range'),
 (100332, 500, 'BMI is in right range'),
 (100331, 500, 'BMI is in right range'),
 (100333, 450.0, 'BMI is in right range'),
 (100334, 450.0, 'BMI is in right range'),
 (100335, 500, 'BMI is in right range'),
 (100336, 500, 'BMI is in right range'),
 (93580, 500, 'BMI is in right range'),
 (93581, 450.0, 'BMI is in right range'),
 (100340, 500, 'BMI is in right range'),
 (100341, 450.0, 'BMI is in right range'),
 (100342, 500, 'BMI is in right range'),
 (100344, 500, 'BMI is in right range'),
 (100345, 500, 'BMI is in right range'),
 (13545, 450.0, 'BMI is in right range'),
 (93587, 500, 'BMI is in right range'),
 (92891, 450.0, 'BMI is in right range'),
 (93590, 450.0, 'BMI is in right range'),
 (75422, 500, 'BMI is in right range'),
 (93587, 500, 'BMI is in right range'),
 (93055, 450.0, 'BMI is in right range'),
 (93057, 500, 'BMI is in right range'),
 (93068, 500, 'BMI is in right range'),
 (93102, 500, 'BMI is in right range'),
 (99422, 450.0, 'BMI is in right range'),
 (99437, 500, 'BMI is in right range'),
 (99452, 500, 'BMI is in right range'),
 (99498, 500, 'BMI is in right range'),
 (99514, 450.0, 'BMI is in right range'),
 (99530,
  900.0,
  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (99536,
  900.0,
  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (54325, 500, 'BMI is in right range'),
 (82348, 500, 'BMI is in right range'),
 (64574, 500, 'BMI is in right range'),
 (75324, 450.0, 'BMI is in right range'),
 (99917, 500, 'BMI is in right range'),
 (99918, 500, 'BMI is in right range'),
 (99946, 500, 'BMI is in right range'),
 (12343, 450.0, 'BMI is in right range'),
 (99947, 500, 'BMI is in right range'),
 (99917, 500, 'BMI is in right range'),
 (99918, 500, 'BMI is in right range'),
 (99946, 500, 'BMI is in right range'),
 (13352,
  675.0,
  "Age is between 18 to 39 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (99947, 500, 'BMI is in right range'),
 (99875, 500, 'BMI is in right range'),
 (13255, 500, 'BMI is in right range'),
 (99875, 500, 'BMI is in right range'),
 (99917, 500, 'BMI is in right range'),
 (99918, 500, 'BMI is in right range'),
 (99946, 500, 'BMI is in right range'),
 (99947,
  1000,
  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (13134, 450.0, 'BMI is in right range'),
 (54226, 500, 'BMI is in right range'),
 (67434, 450.0, 'BMI is in right range'),
 (99875, 500, 'BMI is in right range'),
 (99917, 500, 'BMI is in right range'),
 (99918, 500, 'BMI is in right range'),
 (99946, 500, 'BMI is in right range'),
 (99947, 500, 'BMI is in right range'),
 (92497, 450.0, 'BMI is in right range'),
 (12345, 500, 'BMI is in right range'),
 (13123, 500, 'BMI is in right range'),
 (12424, 450.0, 'BMI is in right range'),
 (99520, 450.0, 'BMI is in right range'),
 (99516, 450.0, 'BMI is in right range'),
 (93077,
  750,
  "Age is between 18 to 39 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (99513, 500, 'BMI is in right range'),
 (99497, 500, 'BMI is in right range'),
 (12123, 450.0, 'BMI is in right range'),
 (34523,
  750,
  "Age is between 18 to 39 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (99511, 500, 'BMI is in right range'),
 (12324, 500, 'BMI is in right range'),
 (99517, 450.0, 'BMI is in right range'),
 (99520, 450.0, 'BMI is in right range'),
 (99516, 450.0, 'BMI is in right range'),
 (93077,
  1000,
  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (99513, 500, 'BMI is in right range'),
 (99497, 500, 'BMI is in right range'),
 (99504, 450.0, 'BMI is in right range'),
 (24435, 500, 'BMI is in right range'),
 (99511,
  750,
  "Age is between 18 to 39 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (23781, 500, 'BMI is in right range'),
 (99517, 450.0, 'BMI is in right range'),
 (99520, 450.0, 'BMI is in right range'),
 (99516, 450.0, 'BMI is in right range')]

## Creating a pipeline

In [26]:
df = pd.read_csv('Dummy-Data.csv')
df

    AppID  Ins_Age Ins_Gender   Ht   Wt  IssueDate
0   56372       31       Male  510  185        NaN
1   34565       35       Male  510  205        NaN
2   57732       45     Female  510  125        NaN
3   87324       38       Male  503  175        NaN
4   12323       39     Female  600  252        NaN
..    ...      ...        ...  ...  ...        ...
95  99511       35       Male  510  275        NaN
96  23781       27       Male  604  145        NaN
97  99517       35     Female  507  190        NaN
98  99520       38     Female  510  144        NaN
99  99516       52     Female  510  125        NaN

[100 rows x 6 columns]

In [27]:
from sklearn.pipeline import Pipeline

pipe = Pipeline([('transformer', TransformData()), ('InsuranceModel', InsuranceModel())])
results=pipe.fit_predict(df)

['AppID', 'Ins_Gender', 'bmi_in_hrange', 'age_group']

In [28]:
results

[(56372, 500, 'BMI is in right range'),
 (34565, 500, 'BMI is in right range'),
 (57732, 450.0, 'BMI is in right range'),
 (87324, 500, 'BMI is in right range'),
 (12323, 450.0, 'BMI is in right range'),
 (75323, 500, 'BMI is in right range'),
 (23466, 500, 'BMI is in right range'),
 (24545, 450.0, 'BMI is in right range'),
 (63462, 450.0, 'BMI is in right range'),
 (87432, 500, 'BMI is in right range'),
 (53242, 450.0, 'BMI is in right range'),
 (45764, 450.0, 'BMI is in right range'),
 (97563, 450.0, 'BMI is in right range'),
 (45432,
  900.0,
  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (93576, 500, 'BMI is in right range'),
 (100332, 500, 'BMI is in right range'),
 (100331, 500, 'BMI is in right range'),
 (100333, 450.0, 'BMI is in right range'),
 (100334, 450.0, 'BMI is in right range'),
 (100335, 500, 'BMI is in right range'),
 (100336, 500, 'BMI is in right range'),
 (93580, 500, 'BMI is in right range'),
 (93581, 450.0, 'BMI is in right range'),
 (100340, 500, 'BMI is in right range'),
 (100341, 450.0, 'BMI is in right range'),
 (100342, 500, 'BMI is in right range'),
 (100344, 500, 'BMI is in right range'),
 (100345, 500, 'BMI is in right range'),
 (13545, 450.0, 'BMI is in right range'),
 (93587, 500, 'BMI is in right range'),
 (92891, 450.0, 'BMI is in right range'),
 (93590, 450.0, 'BMI is in right range'),
 (75422, 500, 'BMI is in right range'),
 (93587, 500, 'BMI is in right range'),
 (93055, 450.0, 'BMI is in right range'),
 (93057, 500, 'BMI is in right range'),
 (93068, 500, 'BMI is in right range'),
 (93102, 500, 'BMI is in right range'),
 (99422, 450.0, 'BMI is in right range'),
 (99437, 500, 'BMI is in right range'),
 (99452, 500, 'BMI is in right range'),
 (99498, 500, 'BMI is in right range'),
 (99514, 450.0, 'BMI is in right range'),
 (99530,
  900.0,
  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (99536,
  900.0,
  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (54325, 500, 'BMI is in right range'),
 (82348, 500, 'BMI is in right range'),
 (64574, 500, 'BMI is in right range'),
 (75324, 450.0, 'BMI is in right range'),
 (99917, 500, 'BMI is in right range'),
 (99918, 500, 'BMI is in right range'),
 (99946, 500, 'BMI is in right range'),
 (12343, 450.0, 'BMI is in right range'),
 (99947, 500, 'BMI is in right range'),
 (99917, 500, 'BMI is in right range'),
 (99918, 500, 'BMI is in right range'),
 (99946, 500, 'BMI is in right range'),
 (13352,
  675.0,
  "Age is between 18 to 39 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (99947, 500, 'BMI is in right range'),
 (99875, 500, 'BMI is in right range'),
 (13255, 500, 'BMI is in right range'),
 (99875, 500, 'BMI is in right range'),
 (99917, 500, 'BMI is in right range'),
 (99918, 500, 'BMI is in right range'),
 (99946, 500, 'BMI is in right range'),
 (99947,
  1000,
  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (13134, 450.0, 'BMI is in right range'),
 (54226, 500, 'BMI is in right range'),
 (67434, 450.0, 'BMI is in right range'),
 (99875, 500, 'BMI is in right range'),
 (99917, 500, 'BMI is in right range'),
 (99918, 500, 'BMI is in right range'),
 (99946, 500, 'BMI is in right range'),
 (99947, 500, 'BMI is in right range'),
 (92497, 450.0, 'BMI is in right range'),
 (12345, 500, 'BMI is in right range'),
 (13123, 500, 'BMI is in right range'),
 (12424, 450.0, 'BMI is in right range'),
 (99520, 450.0, 'BMI is in right range'),
 (99516, 450.0, 'BMI is in right range'),
 (93077,
  750,
  "Age is between 18 to 39 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (99513, 500, 'BMI is in right range'),
 (99497, 500, 'BMI is in right range'),
 (12123, 450.0, 'BMI is in right range'),
 (34523,
  750,
  "Age is between 18 to 39 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (99511, 500, 'BMI is in right range'),
 (12324, 500, 'BMI is in right range'),
 (99517, 450.0, 'BMI is in right range'),
 (99520, 450.0, 'BMI is in right range'),
 (99516, 450.0, 'BMI is in right range'),
 (93077,
  1000,
  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (99513, 500, 'BMI is in right range'),
 (99497, 500, 'BMI is in right range'),
 (99504, 450.0, 'BMI is in right range'),
 (24435, 500, 'BMI is in right range'),
 (99511,
  750,
  "Age is between 18 to 39 and 'BMI' is either less than 17.49 or greater than 38.5"),
 (23781, 500, 'BMI is in right range'),
 (99517, 450.0, 'BMI is in right range'),
 (99520, 450.0, 'BMI is in right range'),
 (99516, 450.0, 'BMI is in right range')]

# Operationalize

## Put everything together in a flask App



**Model Module(model.py file to be imported in app.py)**

In [31]:
from sklearn.base import TransformerMixin
from sklearn.base import RegressorMixin
from sklearn.pipeline import Pipeline

class TransformData(TransformerMixin):
    def fit(self, X, y=None):
        self.X = X   
        
    def bmi_healthy(self,wt,ht):
        ht_m=(((ht//100)*12+ht%100)*0.0254)
        wt_kg=wt/2.20462
        bmi=wt_kg/(ht_m**2)
        return True if (bmi > 17.49 and bmi < 38.5) else False
    
    def age_group(self,age):
        if age < 18:
            return 0
        elif age < 40:
            return 1
        elif age <= 60:
            return 2
        else:
            return 3
            
    def transform(self):
        self.X['bmi_in_hrange'] = self.X.apply(lambda x: self.bmi_healthy(x.Wt, x.Ht), axis=1)
        self.X['age_group'] = self.X.apply(lambda x: self.age_group(x.Ins_Age), axis=1)
        
        self.X.drop(columns=['Ht','Wt','IssueDate','Ins_Age'],inplace=True)
        return self.X
    
    def fit_transform(self,X, y=None):
        self.fit(X)
        return self.transform()


class InsuranceModel(RegressorMixin):
    def __init__(self):
        self.valid_features = ['AppID', 'Ins_Gender', 'bmi_in_hrange', 'age_group']
        
    def fit(self, X, y=None):
        pass
    
    def logic(self,AppID,gender,bmi_healthy,age_group):
        if bmi_healthy:
            base_value = 500
            reason = "BMI is in right range"
        else:
            if age_group == 0:
                base_value = 500
                reason = "BMI is in right range"
            elif age_group == 1:
                base_value = 750
                reason = "Age is between 18 to 39 and 'BMI' is either less than 17.49 or greater than 38.5"
            elif age_group == 2:
                base_value = 1000
                reason =  "Age is between 40 to 59 and 'BMI' is either less than 17.49 or greater than 38.5"
            else:
                base_value = 2000
                reason =  "Age isgreater than 60 and 'BMI' is either less than 17.49 or greater than 38.5"
        if gender == 'Female':
            return (AppID,base_value * 0.9, reason)
        else:
            return (AppID,base_value, reason)
        
        
        
    def predict(self,X):
        print(X.columns.to_list())
        for item in X.columns.to_list():
            if item not in self.valid_features:
                return 'Invalid Features'
        quote_values = X.apply(lambda x: self.logic(x.AppID,x.Ins_Gender,x.bmi_in_hrange,x.age_group), axis=1)
        return quote_values.to_list()
    
    def fit_predict(self,X, y=None):
        self.fit(X)
        return self.predict(X)
    
pipe = Pipeline([('transformer', TransformData()), ('InsuranceModel', InsuranceModel())])

**Flask- app.py**

In [32]:
from flask import Flask, request, jsonify
import pandas as pd
##import pipeline here

app = Flask(__name__)

@app.route('/',methods=['GET'])
def index():
    content = request.json
    df = pd.DataFrame.from_dict(content)
    return jsonify(pipe.fit_predict(df))


if __name__=='__main__':
    app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)
127.0.0.1 - - [29/Jun/2022 18:40:56] "GET / HTTP/1.1" 200 -

['AppID', 'Ins_Gender', 'bmi_in_hrange', 'age_group']

## Deployment Steps

### Created requirements.txt as below and put it in the source folder

In [ ]:
flask
pandas
scikit-learn

### Created a build.yaml file to build you docker image as below

In [ ]:
FROM python:3.11.0b3-bullseye


USER 0

# setup working directory for jenkins_api
RUN mkdir /insmodel
WORKDIR /insmodel/
ADD src /insmodel/
RUN chmod 777 -R '/insmodel/'

# Install MySQL Dependency
RUN yum install python-pip

# Install upgrade pip
RUN pip install --upgrade pip


# install dependencies
COPY requirements.txt ./
RUN pip install -r requirements.txt

EXPOSE 8080

CMD ["gunicorn", "--bind=0.0.0.0:8080", "--worker-class=gevent", "--worker-connections=500", "--workers=3" , "app:app"]

### execute below to create docker image:

docker build .

### Push your image to your registry:

docker tag imageid Registry.com/myImage

docker push Registry.com/myImage

### Login to your Cloud/Devops/MLOps platform, select image and deploy